# User-specific stuff:
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# User-specific files (Rider/IntelliJ IDEA)
.idea/
*.sln.iml

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
x64/
x86/
bld/
bin/
obj/
[Ll]og/
[Ll]ogs/

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# VS Code
.vscode/

# NuGet Packages
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets

# ReSharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# TeamCity
_Teamcity*

# DotCover
*.dotCover

# NCrunch
_NCrunch_*
.*crunch*.local.xml
nCrunchTemp_*

# MightyMoose
*.mm.*
AutoTest.Net/

# Ignore folders produced by Visual Studio
[Bb]uild/
[_Rr]e[Ss]harper*/

# Ignore Gradle folders (if you are using Gradle)
.gradle/
